<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='fonts/icomoon/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/css/owl.carousel.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/css/style.css') }}"
    />
    
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>

    <title>Website Menu #5</title>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body">
        <ul class="site-nav-wrap">
          <li class="active"><a href="#" class="nav-link">Home</a></li>
          <li><a href="/product" class="nav-link">Start Session</a></li>
          <li><a href="/results" class="nav-link">Last Session</a></li>
          <li><a href="/view-past" class="nav-link">Our Results</a></li>
        </ul>
      </div>
    </div>
    <header class="site-navbar site-navbar-target py-4" role="banner">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="col-3">
            <div class="site-logo">
              <a href="#" class="font-weight-bold text-white">Expressio</a>
            </div>
          </div>
          <div class="col-9 text-right">
            <span class="d-inline-block d-lg-block"
              ><a
                href="#"
                class="text-black site-menu-toggle js-menu-toggle py-5"
                ><span class="icon-menu h3 text-white"></span></a
            ></span>
          </div>
        </div>
      </div>
    </header>
    <img
      class="hero"
      src="{{ url_for('static',filename='images/hero_1.jpg') }}"
    ></img>
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.sticky.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script>
      eval(mod_pagespeed_kcVqk3pIMO);
    </script>
    <script>
      eval(mod_pagespeed_kNKlzg1mQ5);
    </script>
    <script>
      eval(mod_pagespeed_yVPrBKjlMG);
    </script>
    <script>
      eval(mod_pagespeed_8H$r5A_3O9);
    </script>
    <script
      defer=""
      src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
      integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
      data-cf-beacon='{"rayId":"72dc093339ab30bf","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.6.0","si":100}'
      crossorigin="anonymous"
    ></script>
  </body>
</html>
